.bluescreen3{
  height: 13vw;
  //position: absolute;
  background-color: #162365;
 // margin-top: 200%;
  justify-content: center;
  vertical-align: middle;
  padding-top: 1%;
  margin-top: 2%;
}
.bluescreen4{
   height: fit-content;
   //position: absolute;
   background-color:rgba(159, 157, 255, 1);
 }
.bluescreen5{
  height: 1909px;
  width: 725px;
  border-radius: 0px 30px 30px 0px;
  //background-color:rgba(130, 33, 254, 1);
}
.title-profileClassRoom{
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

.collapseList{
  background: chartreuse;
  align-items: center;
  margin-top: 1%;
  padding-left: 1000px;
}

