.bluescreen3{
  height: 119px;
  //position: absolute;
  background-color: #162365;
 // margin-top: 200%;
  margin-top: 27%;
}
.bluescreen4{
   height: 1909px;
   //position: absolute;
   background-color:rgba(159, 157, 255, 1);
   // margin-top: 200%;
   //margin-top: 27%;
 }
.bluescreen5{
  height: 1909px;
  width: 725px;
  border-radius: 0px 30px 30px 0px;
  background-color:rgba(130, 33, 254, 1);
}
.title-profileClassRoom{
  font-family:Roboto;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

