.class-section-main-header{
  background-color:#ADA6CE;
  height: 400px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-bottomright: 50px;
  border-bottom-right-radius: 50px;
}

.class-section-header{
  padding-left: 60px;
  padding-top: 20px;
}

.class-section-button{
  position: absolute;
  margin-left: 87%;
  margin-top: 1%;
  background-color: #8340F4;
  width: 5%;
  border-radius: 20px;
  border-color: #8340F4;
  color: aliceblue;
}
.class-section-container-main{
  padding-left: 50px;
  padding-top: 10px;
  height: 100px;
  display: flex;

}
.class-section-main1{
  font-size: 48px;
  font-weight: bold;
  color: #685DA5;
}

.class-section-second{
  margin-top: -10px;
  font-size: 15.69px;
  font-weight: bold;
  opacity: 60%;
  color: aliceblue;
}

.class-section{
  max-height: 50%;
}

//.class-section-container-main{
//  display: grid;
//  grid-template-columns: auto auto auto auto ;
//  grid-auto-rows: minmax(1px, auto);
//  justify-content: center;
//  align-items: normal;
//  grid-gap: 1%;
//  margin-left: 50px;
//  overflow-x: auto;
//  overflow-y: hidden;
//  width: 90%
//}
