
.class-tile-container{
  width:300px;
  height: 200px;
  display: flex;
  background-color: #7D75A4;
  border-radius: 30px;
  margin: 1.5%;


  .left-container{
    color: #FFFFFF;
    width: 150px;
    padding: 10px;
    .main-heading{
      font-size: larger;
      font-weight: bold;

    }
    .sub-heading{
      font-size: small;


    }
  }

  }
  .right-container{
    overflow: hidden;
    border-radius: 0 30px 30px 0;
    img{
      width: fit-content;
      height: 200px;
    }

  }
//////
.card-img-top{
  border-radius: 0% 10% 10% 0%;
  height: 150.2px;
  width: 50%;
  object-fit: cover;

}

.card-deck{
  width: fit-content;
  height: 200.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}

.card-body{
  background: linear-gradient(to top, #8221FE,#2D61FD);
  border-radius: 10% 0% 0% 10%;
  width: 50%;
}

.class{
  max-height: 150.2px;
  width: 302px;
}

