.card-img-top{
  border-radius: 0% 10% 10% 0%;
  height: 150.2px;
  width: 50%;
  object-fit: cover;
}

.card-deck{
  width: fit-content;
  height: 200.2px;
  .classtile-container{
    width: 20%;
    height: 200px;
    background-color: #FFFFFF;
    display: flex;
    border-radius: 20px;

    .left-container{
      width: 60%;
    }
    .right-container{
      width: 100%;
      img{
        position: absolute;
        z-index: -1;
        width:200%;
        height: 100%;
        border-radius: 0 20px 20px 0;


        .class{
          max-height: 150.2px;
          width: 302px;
        }

      }
    }
  }
}