.class-announcement-container {
  background-color: #525252;
  width: 500px;
  height: 500px;
  border-radius: 30px;
  padding-bottom: 20px;
  padding-right: 10px;
  .class-announcement-body {
    padding-left: 10px;
    padding-bottom: 10px;
    color: white;
    height: 400px;
    margin-left: 10px;
    .input-form-container {
      width: 100%;
      padding: 10px;
      .form {
        width: 100%;
        label{
          font-weight: bold;
          color: white;
        }
        .form-input {
          width: 430px;
          padding: 12px 20px;
          margin-right: 20px;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
        .form-area {
          width: 430px;
          height: 250px;
          padding: 12px 20px;
          margin-right: 20px;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
      }
    }
    .class-announcement-body-button-group {
      margin-top: 10px;
      display: flex;
      margin-left: 20px;
      .class-announcement-button {
        margin-right: 10px;
      }
    }
  }

  .class-announcement-section-header {
    font-size: 25px;
    font-weight: bolder;
    color: white;
    padding: 10px;
    margin-left: 10px;
    font-family: "Helvetica","Verdana", serif;
    &.dark-header {
      color: #525252;
    }
  }

  .class-announcement-second-header {
    font-size: 20px;
    font-weight: bolder;
    margin-top: -15px;
    color: #CCAB00;
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: "Helvetica","Verdana", serif;
  }
}