.parent-container {
  background-color: #a9a9a9;
  padding: 30px;
}
.printing-component-container {
  background-color: #525252;
  height: 200px;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 20px;
  width: 50%;
  margin: 10px;

 //header of the react printing page.
  .printing-component-header{
    font-family: Roboto, serif;
    color: white;
    padding-top: 10px;
    font-weight: bold;
    font-size: 30px;
  }
  //sub header of the react printing page.
  .printing-component-sub-header{
    font-family: Roboto, serif;
    color: #9d9d9d;
    padding-top: 10px;
    font-weight: normal;
    font-size: 12px;
  }

  .printing-component-a {
    text-decoration: none;
  }
  .component-to-print{
  }
}
