.Student-table-background{
  background-color: #525252;
  padding: 20px;
  border-radius: 30px;
}
.editor-content{
  border-radius: 30px;
}
.title-studentTable{
  display: inline-block;
  text-align: Left;
  color: #C4C4C4;
  font-weight: 700;
  font-size: 25px;
}
.student-table-header{
  background-color: black;
  width: 75%;
  margin-left: -10%;
  border-radius: 30px;
}

.student-table-header-columns{
  color: white;
}
.studentDelete-image1{
  height: 20px;
}

.search-bar-student-table{
  //display: inline-block;
  //margin-left: 357.5%;
  float: right;
  align-content: center;
  margin-top: -0.6%;
  //background: white;
}

