//Mixin for the custom scroller
@mixin custom-scroller {
  #style-1::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  #style-1::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
  }

  #style-1::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
}

.course-component{
  background-color: #525252;
  margin-top: 10px;
  border-radius: 30px;
  display: flex;
  .input-form-container {
    width: 50%;
    padding: 10px;
    .form {
      label{
        font-weight: bold;
        color: white;
        padding-left: 20px;
      }
      .form-input {
        width: 95%;
        padding: 12px 20px;
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
    }
  }
  .course-form {
    .input-form {
      font-style: italic;
      width: 50%;
      border: solid 1px #989898;
      margin-left: 10px;
      margin-bottom: 10px;
      .input-form-field{
        width: 100%;
        border-radius: 8px;
        height: 40px;
        border: none;
        padding: 10px;
      }
    }
  }

  .course-table {
    background-color: #CBC7C7;
    border-radius: 30px;
    width: 70%;
    height: 500px;
    .course-table-body-scrollable{
      overflow: scroll;
      overflow-x: hidden;
      height:430px;
      margin-right: 10px;
      @include custom-scroller;

    }
  }
}

.component-heading{
  background-color: #525252;
}

@mixin base-button {
  border-radius: 5px;
  width: 100px;
  color: white;
  border: none;
  margin-right: 20px;
}

.course-button-group {
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: right;d

  .dark-button{
    @include base-button;
    background-color: #5e5ee9;
  }
  .light-button {
    @include base-button;
    background-color: #7373f8;
  }

  &.button-row {
    justify-content: right;
  }
}




