.file-component {
  background-color: #525252;
  margin-top: 10px;
  border-radius: 30px;
  display: flex;
  margin-bottom: 10px;
  .input-form-container {
    width: 50%;
    padding: 10px;
    .form {
      label{
        font-weight: bold;
        color: white;
        padding-left: 20px;
      }
      .form-input {
        width: 95%;
        padding: 12px 20px;
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
    }
  }

  .file-form {
    .input-form {
      font-style: italic;
      width: 50%;
      border: solid 1px #989898;
      margin-left: 10px;
      margin-bottom: 10px;
      .input-form-field{
        width: 100%;
        border-radius: 8px;
        height: 40px;
        border: none;
        padding: 10px;
      }
    }
  }

  .file-table {
    background-color: #CBC7C7;
    border-radius: 30px;
    width: 70%;
    height: 600px;
    padding:10px;

    .file-table-body-scrollable{
      height:500px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
