.payment-enroll-btn{
  border: none;
  background: #FF5050;
  padding: 3px;
  border-radius: 10px;
  width: 70px;
  height: 30px;
  color: #FFFFFF;
  font-weight: bold;
}
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 60%;
  height: fit-content;
  color: #000;
  background-color: #2C173C;
  border-radius: 1em;
  transform: translate(-50%, -50%);
  outline: transparent;
}
.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
}

.gray-text{
  color: #888888;
}
.MainModalContainer{
  width:100%;
  display: flex;
  flex-direction: row;
  margin: 5px;

  .MainModalSideContainer{
    width: 30%;
    height: fit-content;
    margin-right: 10px;
    .MainClassContainer{
      width: 100%;
      height: 40%;
      margin: 5px;
      border-radius: 20px;

      .MainImage{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border-radius: 20px;
      }
      .Textcontainer{
        position: absolute;
        width: fit-content;
        top: 7%;
        left: 6%;
        transform: translate(-25%, -25%);
        color: #FFFFFF;
        .heading-text{
          font-size: larger;
          font-weight: bold;
        }
        .sub-text{
          font-size: small;
        }
      }
    }
    .MainMethodContainer {
      margin: 5px;
      width: 100%;
      height: 60%;
      background-color: #fff;
      border-radius: 20px;
      padding: 10px;

      .payment-input-button-container{
        display: flex;
        flex-direction: column;

        .input-button{
          height: 30px;
          width: 95%;
          margin: 5px;
          padding: 1px;
          border-radius: 20px;
          border: none;
          color: white;
          background-color: #D1214B;
        }
        .paypal-button{
          background-color: #A7BCFB;
          height: 30px;
          width: 95%;
          margin: 5px;
          border-radius: 20px;
          border: none;
          img{
            width: 20px;
          }
        }
        .my-card-button{
          background-color: #9F54FF;
          height: 30px;
          width: 95%;
          margin: 5px;
          padding: 1px;
          border-radius: 20px;
          border: none;
          color: #FFFFFF;
        }
      }
      .Main-heading{
        font-size: larger;
        font-weight: bold;
      }
      .value-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

      }

      .Sub-heading{
        margin: 3px 0;
        font-size: small;
        display: flex;
        flex-direction: row;
      }
      hr{
        margin: 5px 0;
        padding: 0;
        border: 1px solid black;
      }
    }


  }

}
.PaymentContainer{
  margin: 5px;
  background: linear-gradient(180deg, #FFFFFF 0%, #C3C2FF 100%);
  width: 67%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 30px;

  .main-payament-from-header{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6%;
    .PaymentContainerHeader{
      margin: 5px 0;
      margin-left: 20px;
      font-weight: bold;
    }
    .image-container{
      img{
        margin-top: 20px;
        width: 3.2552083333333335vw;
      }
    }

  }

  .input-field-container{
    align-items: center;

    .PaymentSubContainer{
      width:97%;
      display: flex;
      flex-direction: row;
    }
  }

  .input-field{
    background: #C2C2C2;
    height: 30px;
    width: 95%;
    margin: 5px;
    border-radius: 20px;
    border: none;
    padding-inline-start: 30px;
  }
  .input-button-container{
    margin-top: 5%;
    margin-bottom: 12%;
    .input-button{
      height: 30px;
      width: 95%;
      margin: 5px;
      padding: 1px;
      border-radius: 20px;
      border: none;
      color: white;
      background-color: #D1214B;
    }
  }
}

