.bank-details-wrapper{
 .bank-details-header{

 }
  .bank-details-form{
    .input-styles{
      background-color: #D3C0DC;

    }
    .button-cancel-styles{
      color: #FFFFFF;
      background: #D1214B;
      border-radius: 20px;

    }
    .button-submit-styles{
      color: #FFFFFF;
      background: #7364B9;
      border-radius: 20px;

    }
  }
}