.admin-header-component{
  background-color: #9f9dff;
  padding: 10px;
  border-radius: 30px;
}

.container-row {
  padding: 5px;
}

.tile-component {
}

.admin-section-header {
  font-size: 30px;
  font-weight: bolder;
  color: white;
  padding: 10px;
}

.card-img {
  border-radius: 0% 10% 10% 0%;
  height: 150.2px;
  width: 50%;
  object-fit: cover;
}

.admin-header-component-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px  300px 300px;
  grid-gap: 5px;
  grid-template-areas:
    "tile1 tile2 tile3 "
    "tile4 tile5 tile6 ";
}
@media only screen and (max-width: 1500px) {
  .admin-header-component-container {
    grid-template-columns: 300px  300px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
        "tile1 tile2"
        "tile3 tile4"
        "tile5 tile6";
  }

  //Media query to dynamically change the layout.
  @media only screen and (max-width: 966px) {
    .admin-header-component-container {
      grid-template-columns: 300px;
      grid-template-rows: 200px 200px 200px 200px 200px 200px;
      grid-template-areas:
        "tile1"
        "tile2"
        "tile3"
        "tile4"
        "tile5"
        "tile6";
    }
  }
}


