.userprofile{
  display: flex;
  flex-direction: column;
  height: 1137px;
  width: 546px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  margin-top: -68%;
  margin-left: 1%;
}
.userprofile1{
  display: flex;
  flex-direction: column;
  height: 387px;
  width: 546px;
  border-radius: 30px;
  background-color: #4A6CF4;

}//

.bluescreen{
  height: 328px;
  background-color: rgba(24, 38, 108, 1);
}

.bluescreen1{
  height: 999px;
  width: 420.3px;
  background-color: #9F9DFF;
  margin-left: 77.85%;
  border-radius: 30px 0px 0px 30px;
}
.profilePic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
  margin-top:35%;
}

.userprofile1-info{
  display: block;
  text-align: center;
}

.userprofile1-info-main{
  font-family:Roboto;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 48px;
}
.userprofile-button1 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 80px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 30px 30px;
  background-color:  #FFFFFF;
  margin-bottom: 10px;
}
.userprofile-button2 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 80px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 30px 30px;
  background-color:  rgba(255, 92, 92, 1);
  margin-bottom: 10px;
}

.profitable-group{
  margin-top: 20px;
  align-content: center;
  width: 100%;
}

.userprofile-bio{
  display: flex;
  flex-direction: column;
  height: 355px;
  width: 1275px;
  margin-left: 587px;
  margin-top: -820px;
  border-radius: 30px;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.userprofile-bio1{
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 305px;
  width: 1240px;
  border-radius: 30px;
  background-color:rgba(229, 228, 255, 1);
}