.bluescreen4-singleClassView{
  //margin-top: -3%;
  //position: ;
  height: fit-content;
  background: chocolate;



}
.singleclassViewBackground{
  background-color:rgba(153, 169, 255, 1);
  height: fit-content;
}
