.tutor-header-card {
  background-color: #7F7CFF;
  border-radius: 22.34px;
  width: 400px;
  height: 242px;
  padding-left: 10px;

  .tutor-card-header {
    margin-top: 2px;
    font-weight: bold;
    font-size: 25px;
    font-family: "Helvetica","Verdana", serif;
  }

  .tutor-card-price {
    font-weight: lighter;
    font-size: 40px;
  }
}
