.tutor-header-card {
  background-color: #7F7CFF;
  border-radius: 20px;
  width: 475px;
  height: 242px;
  padding-left: 10px;

  .tutor-card-header {
    margin-top: 2px;
    font-weight: bold;
    font-size: 50px;
  }

  .tutor-card-price {
    font-weight: lighter;
    font-size: 40px;
  }
}
