.userprofile{
  display: flex;
  flex-direction: column;
  height: 70.0vw;
  width:  35.5vw;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  margin-top: -5vw;
  margin-left: 1%;
}
.userprofile1{
  display: flex;
  flex-direction: column;
  height: 25.2vw;
  width: 35.5vw;
  border-radius: 30px;
  background-color: #4A6CF4;

}//
.popupInterfaceUpdateEmail{
    //filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    background-color: cornflowerblue;
    margin-left: 10%;
    margin-top: 20%;
}
.bluescreen{
  height: 15vw;
  background-color: rgba(24, 38, 108, 1);
}

.card{
  padding: 2%;
  width: 100%;
}

.bluescreen1{
  height: 65.03vw;
  width: 27.3vw;
  //background-color: #9F9DFF;
  background-color: #000000;
  //margin-left: 77.85%;
  float: right;
  border-radius: 30px 0px 0px 30px;
}
.profilePic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17.9vw;
  margin-top:35%;
}

.userprofile1-info{
  display: block;
  text-align: center;
}

.userprofile1-info-main{
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 3.125vw;
}
.userprofile-button1 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 5.208333333333333vw;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 30px 30px;
  background-color:  #FFFFFF;
  margin-bottom: 10px;
}
.userprofile-button2 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 5.208333333333333vw;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 30px 30px;
  background-color:  rgba(255, 92, 92, 1);
  margin-bottom: 10px;

}

.profitable-group{
  margin-top: 20px;
  align-content: center;
  width: 100%;

}

.userprofile-bio{
  display: flex;
  flex-direction: column;
  width: 62vw;
  float: right;
  padding: 20px;
  margin-top: 1vw;
  //margin-left: 587px;
  //margin-top: -820px;
  border-radius: 30px;
  background-color: #E5E5E5;
  //filter: blur(20px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  //filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.row{
  padding: 20px;
}
.userprofile-bio1{
  flex-direction: column;
  margin: auto;
  width: 100%;
  border-radius: 30px;
  background-color:rgba(229, 228, 255, 1);
}

.userprofile-bio1-info1{
  padding: 2%;
  height: fit-content;
  width: 100%;
}
.userprofile-bio1-info1-main-inside{
  margin-right: auto;
  margin-left: auto;
  background: chocolate;
}
.userprofile-bio1-info1-main{
  color:rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 3.125vw;

}

.userprofile-bio1-info1-second{
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 1.8229166666666667vw;
}