.announcement-container {
  background-color: #525252;
  width: 390px;
  height: 390px;
  margin-left: 15px;
  border-radius: 30px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  .announcement-body {
    padding-bottom: 10px;
    color: white;
    height: 350px;
    margin-left: 10px;
    .input-form-container {
      width: 100%;
      padding: 10px;
      .form {
        width: 100%;
        label{
          font-weight: bold;
          color: white;
        }
        .form-input {
          width: 350px;
          padding: 12px 20px;
          margin-right: 20px;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
        .form-area {
          width: 350px;
          height: 140px;
          padding: 12px 20px;
          margin-right: 20px;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
      }
    }
    .announcement-body-button-group {
      margin-top: 10px;
      display: flex;
      .announcement-button {
        margin-right: 10px;
      }
    }
  }
}
