.register{
  display: flex;
  flex-direction: column;
  //margin: auto;
  margin-left: 70%;
  margin-top: -29.3%;
  height: 620px;
  width: 396.7px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  background-color: #9F9DFF;
}
.register1{
  display: flex;
  flex-direction: column;
  background-image: url("./../Registration/Images/RegisterBackground.png");
  justify-content: center;
  margin-top: 20px;
  height: 600px;
  width: 396.7px;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}

.Outer-Registration{
  height: 100%;
  width: 100%;
  background: chartreuse;
}

.RegisterLogo-image1{
 // position: absolute;
  width: 55%;
  height: 560px;
  margin-top: 3%;
  margin-left: 10%;
}
.registration{
  //float: left;
  //margin-left: -337%;
  //margin-top: -24%;
}
.registration-info4{
  margin-left: 5%;
}
.registration-info4-main{
  color: black;
  font-weight: 700;
  size: 40px;
}
.registration-info4-second{
  color: #8D8D8D;
  font-weight: 400;
  font-size: 16px;
}

.registration-body {
  //margin-left: 20px;
  padding: 20px;
  //margin-top: 10%;
}
.registration-body .input-field {
  border-radius: 8.38px;
  height: 45px;
  width: 305px;
  padding: 8px;
  font-weight: normal;
  background-color: #DBDBDB;
  border-color: white;
  color: black;
}
.registration-body .input-wrapper {
  //color: black;
  font-weight: 700;
  font-size: 19px;
}

.registration-body .input-field1 {
  margin-right: 2%;
}

.registration-button-group{
  margin-top: 20px;
  align-content: center;
  width: 100%;
  margin: auto;
}

.registration-button {
  // position: absolute;
  //position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 296px;
  height: 48px;
  border-radius: 4.65px;
  background-color: #35C1ED;
  margin-bottom: 10px;
  border: none;
  color: white;
}

.registration-info5-main{
  color: #8D8D8D;
  font-weight: 400;
  font-size: 15px;
}
.registration-info5-second{
  color: #35C1ED;
  font-weight: 700;
  font-size: 15px;
}
.registration-info6{
  //margin-top:-22%;
  margin-left: 60%;
  width: 50%;
}
.registration-info6-main{
  color: #8D8D8D;
  font-weight: 400;
  font-size: 15px;
}
.registration-component {
  background-color: #D7D8DD;
  border-radius: 20px;
  width: 395.76px;
  height: 418px;
}
.input-field1{
  margin-right: 2%;
}