.inquiry-popup-menu-container {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 20px;
  position: fixed;
  top:25%;
  z-index: 2;
  left: 25%;
  bottom: 25%;
  width: 50%;
  height: 600px;
  justify-content: center;
  align-content: center;
}


