@mixin custom-component-commons {
  padding: 10px;
  color: white;
  height: 180px;

}
.custom-row-component {
  display: flex;
  padding-left: 20px;
  padding-bottom: 10px;

  #{&}-first-column-back {
    background-color: #727272;
    border-radius: 30px 0px 0px 30px;
    box-shadow: 5px 10px;
  }

  #{&}-first-column {
    @include custom-component-commons;
    border-radius: 30px 30px 30px 30px;
    width: 366px;
    background-color: #9f93e0;
    .custom-row-component-header {
      font-weight: bold;
    }
    z-index: 1;
    position: absolute;
    -webkit-box-shadow: 30px 30px 80px 0px rgb(178, 175, 176);
    box-shadow: 30px 30px 300px 0px rgb(52, 52, 52);

  }
  #{&}-second-column {
    @include custom-component-commons;
    background-color: #727272;
    margin-left: 300px;
    width: 600px;
    .custom-row-component-second-description{
      margin-left: 30px;
    }
  }
  #{&}-three-column {
    @include custom-component-commons;
    border-radius: 0px 30px 30px 0px;
    background-color: #5B5A7A;
    width: 200px;
    .custom-row-button-group {
      display: flex;
      flex-direction: column;
    }
  }
}
