.class-table-component{
    background-color: #8f54a0;
    margin-top: 12px;
    border-radius: 30px;
    //display: flex;
    max-width: 30%;
  .input-table-container {
    width: 90%;
    padding: 10px;

  }
}