.class-table-component{
    background-color: #8f54a0;
    margin-top: 12px;
    border-radius: 30px;
    //display: flex;
    max-width: 30%;
  .input-table-container {
    width: 90%;
    padding: 10px;

  }
}

.classTableBackground{
  //display: inline-block;
  //display: flex;
  background-color: #525252;
  border-radius: 30px;
  width: 67%;
  margin-left: auto;
  margin-right: 10px;
  padding: 0.5%;
  margin-top: -440px;
}

.classTablerow{
  width: 1px;
}
.class-table-title-header{
  display: inline-block;
}
.title-classTable{
  text-align: Left;
  color: #C4C4C4;
  font-weight: 700;
  font-family: Roboto;
  font-size: 44px;
  margin-top: 2%;
}
.search-bar-class-table{
  margin-left: 190%;
  margin-top: -20%;
  border-radius: 30px;
  background-color: white;
}

