.background-log{
  //padding-bottom: 100%;
  align-content: center;
  max-width: 100%;
  padding-top: 2%;
  background: rgba(217, 217, 255, 1);
}
.sub-footer1{
  text-align: center;
  background:#000;
  width:100%;
  margin: 100px 0 10px 0;
  padding:5px 0;
  justify-content: center;
  color:gray;
  font-size:15px;
  color: #FFFFFF;

  //.social-media-container{
  //  img{
  //    width: 40px;
  //    margin: 3px;
  //    padding: 2px;
  //  }
  //}
}