.containermain {
  transform: translate(-50%);
  cursor: pointer;
  border-radius: 20px;
  width: 1300px;
  height: 250px;
  background: rgba(22, 35, 101, 1);
  color: white;
  transition: all 300ms ease-in-out;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.container p {
  opacity: 0.6;
}

.container h3 {
  font-weight: 600;
  font-size: 15px;
}

.upper {
  height: 250px;
  min-width: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 40px;
  background: rgba(22, 35, 101, 1);
}

.upper h3 svg {
  height: 16px;
  width: 16px;
  fill: white;
  margin-left: 10px;
  padding-top: 4px;
}

.lower {
  padding: 40px;
  display: none;
}

.lower h4 {
  margin-top: 40px;
  font-size: 14px;
  color: #2999f5;
}

.lower p:not(:first-child) {
  margin-top: 40px;
}

div.expand {
  height: 600px;
  .lower{
    display: block;
  }
}

.collapseImage1{
  width: 500px;
  height: 210px;
  margin-top: -2%;
  margin-left: -1%;
}

.collapse-info1 {
  position: absolute;
  margin-left: 530px;
  margin-top: -2%;
  width: 700px;
}

.collapse-info1-main {
  font-family: Roboto;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 64px;
}

.collapse-info1-second {
  font-family: Roboto;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 20px;
}