.course-tile-container{
  width: 200px;
  height: 200px;
  background-color: #7D75A4;
  border-radius: 30px;
  margin: 20px;


  .top-container{
    font-family: Roboto, serif;
    color: #FFFFFF;
    padding: 10px;
   text-align: right;
    .main-heading{
      font-size: 20px;
      font-weight: bold;
      margin-right: 10px;
    }
    .sub-heading{
      font-size: 10px;
    }
  }
  .image-container{
    img{
      margin-top: 30px;
      padding: 10px;
      width: 100px;
      height: 100px;
    }

  }
}
