.course-tile-container{
  width: 13.020833333333334vw;
  height: 13.020833333333334vw;
  background-color: #7D75A4;
  border-radius: 30px;
  margin: 1.5%;
  position: relative;

  .top-container{
    color: #FFFFFF;
    padding: 10px;
   text-align: right;
    .main-heading{
      font-size: 1.25vw;
      font-weight: bold;
    }
    .sub-heading{
      font-size: 0.8463541666666666vw;
    }
  }
  .image-container{
    position: relative;
    //margin-left: 10px;
    //margin-top: 28px;
    img{
      width: 6.510416666666667vw;

    }

  }
}