.background{
  background-color: #E5E5E5;
  margin-left: 40%;
  width: fit-content;
}
.background-background{
  margin-top: -1%;
  background-color: #E5E5E5;
  padding-top: 5%;
  padding-bottom: 200%;
}
.background1{
  display: flex;
  flex-direction: column;
  margin-left: 80%;
  margin-top: 2%;
  height: 250px;
  width: 300px;
  border-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.background2{
  display: flex;
  flex-direction: column;
  margin-left: 79%;
  margin-top: 1%;
  height: 270px;
  width: 270px;
  border-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.background1-info1{
  margin-left: 5%;
  margin-top: -3%;

}
.background1-info1-main{
  color: black;
  font-weight: 700;
  font-size: 20px;
}
.background1-info1-second{
  color: #888888;
  font-weight: 400;
  font-size: 13px;
}

.correction{
  margin-top: -2%;
  color: #000000;
}
.recurve-image1{
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -0.9%;
  margin-left: 11.8%;
}