.tutor-profile-container {
  width: auto;
  .tutor-profile-picture {
    border-radius: 100%;
    width: 200px;
    height: 200px;
  }
  .tutor-profile-name{
    font-size: x-large;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 5px;
  }
  .tutor-profile-designation{
    font-size: larger;
    color: #A3A3A3;
    font-weight: normal;
  }
}
