.tutor-header-tile1 {
  grid-area: tile1;
}

.tutor-header-tile2 {
  grid-area: tile2;
}

.tutor-header-tile3 {
  grid-area: tile3;
}

.tutor-header-tile4 {
  grid-area: tile4;
}

.tutor-header-tile5 {
  grid-area: tile5;
}
@mixin common-styles {
  font-family: "Roboto","Helvetica","Verdana", serif;
}
.tutorial-home-section-container{
  background-color: #525252;
  padding-left: 30px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 90px;
    .tutorial-home-section-body {
      display: flex;
      padding-top: 40px;

      padding-bottom: 50px;
      .tutorial-home-section-body-res-layout {
        display: grid;
        grid-gap: 5px;
        row-gap: 130px;
        justify-content: center;
        grid-template-columns: 230px 230px 230px 230px 230px;
        grid-template-areas:
        "tile1 tile2 tile3 tile4 tile5";
      }
      @media only screen and (max-width: 1350px) {
        .tutorial-home-section-body-res-layout {
          grid-template-columns: 230px  230px;
          grid-template-rows: 250px 250px 250px 250px;
          grid-template-areas:
        "tile1 tile2"
        "tile3 tile4"
        "tile5 tile6"
        "tile7 tile8";

        }
      }

      @media only screen and (max-width: 600px) {
        .tutorial-home-section-body-res-layout {
          grid-template-columns: 230px;
          grid-template-rows: 250px 250px 250px 250px;
          grid-template-areas:
        "tile1"
        "tile2"
        "tile3"
        "tile4"
        "tile5";
        }
      }
    }
    .tutorial-display-flex {
      display: flex;
      .custom-button-tutor-section {
        justify-content: right;
        margin-left: 30%;
      }
      .tutorial-home-section-header{
        padding: 10px;
        .main-heading{
          font-size: 30px;
          color: #ADA6CE;
          font-weight: bold;
        }
        .second-heading{
          font-size: 20px;
          color: #BABABA;
          font-weight: normal;
        }

    }
  }
}

