.chart1{
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}
.chart5{
  display: flex;
  justify-content: space-between;
}

.chart2{
  margin-left: 0;
  margin-right: auto;
}

.chart3{
  margin-left: auto;
  margin-right: 0;
}

.chart4{
  margin-left: auto;
  margin-right:25px;
}