.custom-row-container {
  border-radius: 10px;
  background-color: #e3e3e3;
  padding: 10px;
  .custom-row-header{
    font-size: 30px;
    font-weight: bold;
  }
  .custom-row-description {
    font-size: 19.61px;
    font-weight: normal;
  }

}
