.welcome-container-course{
  position: absolute;
  width: 100%;
  background-color: rgba(22, 35, 101, 1);
  border-radius: 0px 0px 0px 130px;
  height: 697px;
  margin-top: 3%;
}

.welcomebackground-surface-course{
  position: absolute;
  width: 35%;
  margin-top: 11%;
  margin-left:6%;
}


.main-header-course{
  font-family:Roboto;
  color: white;
  font-weight: 700;
  font-size: 4vw;
}

.sub-header-course{
  font-family:Roboto;
  color: white;
  font-weight: 400;
  font-size: 2vw;
}

.welcomebackground-course{
  position: absolute;
  width: 600px;
  height: 458px;
  margin-left: 50%;
  margin-top: 3%;
}

.button1{
  background-color: rgba(136, 134, 255, 1);
  width: 205.94px;
  height: 70px;
  border-radius: 12px;
  font-size: 23px;
  color: white;
}

.button1-position{
  position: absolute;
  margin-top: 30%;
  margin-left: 66%;
}

