.content-body{
  position: absolute;
  width: 55%;
  background-color: #C4C4C4;
  border-radius: 0px 100px 0px 0px;
  height: 336px;
  //margin-top: 3%;
  margin-bottom: 5%;
}

.content-body-header{
  font-size: 29px;
  margin-left: 3%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.accordion{
  border-radius: 0px 100px 0px 0px;
}

.icon{
  background-color: #18266c;
}