.content-body{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50vw;
  background-color: #C4C4C4;
  border-radius: 0px 100px 0px 0px;
  height: 50.875vw;
  margin-top: 33vw;
  margin-left: 5vw;

}

.content-body-header{
  font-size: 29px;
  margin-left: 3%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.accordion{
  border-radius: 0px 100px 0px 0px;
}

.icon{
  background-color: #18266c;
}